  option_settings:
    aws:elasticbeanstalk:application:environment:
      APP_ENV : production
      APPKEY : 2wsjLSopTjD6WQEztTYIZgCFou8wpLJn
      APP_URL : "http://${HOST}:${PORT}"
      CACHE_VIEWS : false
      ENV_SILENT : true
      NODE_TLS_REJECT_UNAUTHORIZED: "0"
      HOST : "0.0.0.0"
      NODE_ENV : production
      SESSION_DRIVER : cookie
      SPELLCHECK_ENABLED : true